:root{
    --cor-de-fundo: lightblue;
    --texto: #000000;
}
body{
    /* hhhhhh */
    background-color:var(--cor-de-fundo);
    color: var(--texto);
    
    }
header{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}